* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: Montserrat;
  background-color: darkslateblue;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;

  cursor: none;
}

ul {
  list-style: none;
}

.instrucciones {
  background-color: rgba(255, 255, 255, 0.808);
  color: darkslateblue;
  padding: 24px;
  border-radius: 24px;
  box-shadow: 0 24px 12px rgba(28, 24, 54, 0.5);
  text-align: center;
}

.instrucciones p {
  margin: 24px 0;
}

.instrucciones ul {
  display: flex;
  justify-content: center;
  gap: 12px ;
}

.cursor {
  position: absolute;
}